<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a href="#home" class="active">Home</a>
        <a href="#new">New</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form-add-news">
        <form action="/create-user" method="POST">
            <fieldset>
            <legend>Form add new users</legend>
            <div class="input-group">
                <label>Email:</label>
                <input type="text" name="Mail">
            </div>
            <div class="input-group">
                <label>Name:</label>
                <input type="text" name="myname">
             </div>
             <div class="input-group">
                <label>City:</label>
                <input type="text" name="City">
            </div>
            <div>
                <button>Save</button>
            </div>
            </fieldset>
        </form>
    </div>
</body>
</html>